<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Rebuild</title>
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<link rel="stylesheet" href="css/app.min.css" />
		<link rel="stylesheet" href="css/responsive.min.css" />
		<link rel="stylesheet" href="css/angular-material.min.css">
		<link rel="stylesheet" href="css/google-material-icons.min.css" >
		<!-- inject:js -->
	</head>
	<body ng-app="Rebuild" ng-controller="mainCtrl" ng-cloak>
		<div layout="column" layout-fill>
			<main flex>
				<div class="view-container">
					<ng-view class="view-frame"></ng-view>
				</div>
			</main>

			<footer>
				<md-toolbar layout="row" layout-align="space-around center">
					<div flex="20" layout="row" layout-align="space-around center	">
						<md-button class="md-icon-button" aria-label="Home" ng-href="/" >
							<md-icon md-font-library="material-icons" >home</md-icon>
						</md-button>
					</div>
					<div flex="20" layout="row" layout-align="space-around center	">
						<md-button class="md-icon-button" aria-label="Calendar" ng-href="#!/calendar" >
						    <md-icon md-font-library="material-icons" >date_range</md-icon>
						</md-button>
					</div>
					<div flex="20" layout="row" layout-align="space-around center	">
						<md-button class="md-fab" aria-label="Face" ng-click="showAlert($event)" >
							<md-icon md-font-library="material-icons">face</md-icon>
						</md-button>
					</div>
					<div flex="20" layout="row" layout-align="space-around center	">
						<md-button class="md-icon-button" aria-label="Layers" ng-href="#!/layers" >
							<md-icon md-font-library="material-icons">layers</md-icon>
						</md-button>
					</div>
					<div flex="20" layout="row" layout-align="space-around center	">
						<md-button class="md-icon-button" aria-label="People" ng-href="#!/people" >
							<md-icon md-font-library="material-icons">person_outline</md-icon>
						</md-button>
					</div>
				</md-toolbar>
			</footer>
		</div>
		<script src="vendor/angular.js"></script>
		<script src="vendor/angular-animate.min.js"></script>
		<script src="vendor/angular-aria.min.js"></script>
		<script src="vendor/angular-messages.min.js"></script>
		<script src="vendor/angular-route.js"></script>
		<script src="vendor/angular-material.min.js"></script>
		<script src="js/app.min.js"></script>
	</body>
</html>